<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-tutela" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>tutela</name><js-module name="tutela" src="www/tutela.js"><clobbers target="cordova.plugins.tutela" /></js-module><platform name="android"><config-file parent="/*" target="res/xml/config.xml"><feature name="tutela"><param name="android-package" value="cordova-plugin-tutela.tutela" /></feature></config-file><config-file parent="/*" target="AndroidManifest.xml" /><source-file src="src/android/tutela.java" target-dir="src/cordova-plugin-tutela/tutela" /></platform><platform name="ios"><config-file parent="/*" target="config.xml"><feature name="tutela"><param name="ios-package" value="tutela" /></feature></config-file><source-file src="src/ios/tutela.m" /></platform></plugin>